<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.abk.mrw">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
            android:icon="@drawable/icon"
            android:label="@string/app_name">
        <receiver
                android:icon="@drawable/cw"
                android:label="@string/app_name"
                android:name="com.abk.mrw.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/widget_provider"/>
        </receiver>
        <!-- Receive Wi-Fi connection state changes -->
        <receiver android:name=".NetworkConnectivityReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <service
                android:name="com.abk.mrw.WidgetService"
                android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <service android:name=".RSSLoadService" android:exported="true" />
    </application>
</manifest>